@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'sans';
  color: #2d3748;
  background-color: #ffffff;
}

@layer components {
  .font-serif-headers {
    @apply font-serif;
  }
}

h1, h2, h3, h4 {
  @apply font-serif-headers;
}
